body {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  background-color: rgb(0, 1, 2);
}
.Container {
  display: flex;
  gap: 20px;
}
.sidebar {
  position: fixed;
  height: 730px;
  width: 200px;
  flex-grow: 1;
  background-color: rgb(31, 33, 47);
  color: white;
  border-radius: 35px;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar h1 {
  font-size: 28px;
  font-weight: 500;
}
.navbar {
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.navbar h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 20px;
  color: white;
  height: 50px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.dashBoard {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 100;
  font-size: 20px;
  height: 50px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  gap: 20px;
  background-color: rgb(208, 239, 5);
  padding-left: 30px;
}
.section {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 100;
  font-size: 20px;
  height: 50px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  gap: 20px;
  padding-left: 30px;
}
.section:hover {
  background-color: rgb(208, 239, 5);
  color: black;
  cursor: pointer;
}
.section h2:hover {
  color: black;
}
#more {
  display: flex;
  background: url(https://blog-cdn.lottiefiles.com/cdn-cgi/image/width=1200,quality=80,format=auto/2023/11/How-to-add-Lottie-animations-to-Camtasia_Cover.png)
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 170px;
  margin-top: 30px;
  border-radius: 15px;
  color: black;
}
#more p {
  padding-left: 15px;
}
.mainContent {
  display: flex;
  flex-grow: 9;
  font-size: 20px;
  gap: 15px;
  margin-left: 275px;
  margin-right: 330px;
}
.main1 {
  flex-grow: 1;
  color: white;
}
.main2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  z-index: 1000;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
}

.responsiveMain2 {
  flex-grow: 2;
  display: none;
  flex-direction: column;
  color: black;
  margin-top: 65px;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 260px;
  gap: 15px;
  margin-top: -10px;
}
.gridBox div {
  background: white;
  color: black;
  border-radius: 15px;
}
.E {
  grid-column: 3;
  align-items: start;
  padding-right: 25px;
}
.D {
  grid-column: 1 / span 2;
}
.gridBox2 {
  display: grid;
  grid-template-rows: 45px;
  margin-top: 10px;
}

.gridBox2 div {
  background-color: white;
  color: black;
  border-radius: 10px;
}
.boxContent {
  display: flex;
  padding-left: 15px;
  gap: 20px;
}
.boxHead h3 {
  font-size: 18px;
}
.lesson {
  margin-top: -10px;
  font-size: 15px;
}
.boxContent i {
  margin-top: 18px;
  background-color: rgb(232, 211, 247);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
}
.RateNType {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  justify-content: start;
  margin-top: 15px;
  justify-content: space-between;
}
.Rating i {
  margin-top: 15px;
}
.bxs-star {
  color: rgb(222, 222, 23);
}

.D {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hours-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.bar {
  width: 10px;
  background-color: #0c0221;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.bar.highlight {
  background-color: #b4ff00;
}
.bar.aveColor {
  background-color: #1c1c2c;
}
.bar:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

.days {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px;
  color: #444;
}
.boxSchedule {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.boxSchedule .bx-chevron-right {
  margin-top: 30px;
}
.boxSchedule .iconSchedule {
  border-radius: 10px;
}
.boxSchedule h3 {
  white-space: nowrap;
}
.F {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  height: 80px;
}
.profileNSearch {
  flex-grow: 0;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.profile {
  flex-grow: 1;
  width: 35px;
  height: 85%;
  border-radius: 30px;
  background: url(https://res.cloudinary.com/dicrvjstp/image/upload/v1762362630/Gemini_Generated_Image_snm9qlsnm9qlsnm9_xlxzzm.png)
    no-repeat center center;
  background-size: cover;
}
input {
  width: 200px;
  height: 35px;
  border-radius: 25px;
  flex-grow: 1;
  background-color: white;
  padding-left: 10px;
  border: 2px solid rgb(216, 228, 238);
}
.info {
  flex-grow: 1;
  background-color: black;
  color: rgb(252, 252, 252);
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: url(./image/infoBg.png) no-repeat center center;
  background-size: cover;
  height: 285px;
}

.assignment {
  flex-grow: 6;
  margin-top: -10px;
}
.Asgwrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.asgbox {
  flex-grow: 1;
  height: 85px;
  background-color: white;
  border-radius: 10px;
}
.responMain2 {
  display: none;
}

#profile1 {
  display: flex;
}
.box {
  transition: all 0.3s ease-in-out;
}
.asgbox {
  transition: all 0.3s ease-in-out;
}
.box:hover {
  transform: translateY(-6px);
  opacity: 1;
  cursor: pointer;
}
.asgbox:hover {
  transform: translateY(-6px);
  opacity: 1;
  cursor: pointer;
}
.info button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3 ease-in-out;
}

@media screen and (max-width: 1440px) and (min-width: 500px) {
  .gridBox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .D {
    grid-column: 1 / span 2;
  }

  .E {
    grid-column: 1 / span 2;
  }
  .C {
    grid-column: 1 / span 2;
  }
  .profile {
    width: 33px;
  }
  .main1 {
    padding-bottom: 30px;
  }
  .info {
    height: 285px;
  }
  #menu {
    display: none;
  }
}
@media screen and (min-width: 1224px) {
  #profile1 {
    display: none;
  }
  #menu {
    display: none;
  }
}
@media (max-width: 1224px) {
  .main2 {
    display: none;
  }

  .mainContent {
    margin-right: 0px;
  }
  .responsiveMain2 {
    display: block;
  }
  #menu {
    display: none;
  }
}

@media (max-width: 880px) {
  .sidebar {
    display: none;
  }
  .mainContent {
    margin-left: 0px;
  }
  #menu {
    display: block;
  }
  .E {
    height: 230px;
  }
}

@media (max-width: 585px) {
  .A {
    grid-column: 1 / span 2;
  }

  .B {
    grid-column: 1 / span 2;
  }
  .F .boxHead h3 {
    font-size: 13px;
    margin-top: 25px;
  }
  .bx-chevron-right {
    margin-left: 130px;
  }
  .E {
    height: 230px;
  }
  .main1 h1 {
    font-size: 25px;
    margin-top: 45px;
  }
  .mainContent {
    margin-top: 25px;
  }
  input {
    display: none;
  }
  #menu {
    display: block;
  }
}
