/* Styling only */
body {
  margin: 0;
}

.wrapper {
  display: grid;
  background-color: #333333;
  color: #444;
  padding: 20px;
  grid-gap: 10px;
  height: 90vh;
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

/* Layouting only  (your work)*/
.a{
  grid-column: 1 / span 3;
  grid-row: 1;
}
.b{
  grid-column: 1;
  grid-row: 2 / span 2;
}
.c{
  grid-column: 2;
  grid-row: 2;
}
.d{
  grid-column: 3;
  grid-row: 2;
}
.e{
  grid-column: 2 / span 2;
  grid-row: 3;
}
.f{
  grid-column: 1 / span 3;
  grid-row: 4;
}

 
 