body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #333;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    -webkit-user-select: none; /*for chrome, safari, edge */
    user-select: none; /*for modern browser*/
}

@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
        gap: 15px;
    }

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}
